.darkmode {
  background-color: rgba(22, 22, 36, 1);

  /* Navigation */
  .main-nav--bg {
    background-color: rgba(22, 22, 36, 1);
  }

  /* Sidebar */
  .sidebar {
    background-color: rgba(22, 22, 36, 1) !important;
  }
}