.darkmode {
  background-color: $dark-bg-300;

  /* Navigation */
  .main-nav--bg {
    background-color: $dark-bg-200;
  }

  .search-wrapper {
    input {
      color: $placeholder;
      background-color: $dark-bg-100;

      &::placeholder {
        background-color: $dark-bg-100;
      }
    }
  }

  .gray-circle-btn {
    background-color: $dark-bg-100;
  }

  .sun-icon {
    display: none;
  }

  .moon-icon {
    display: initial;
    fill: #fff;
  }

  /* Sidebar */
  .sidebar {
    background-color: $dark-bg-200 !important;
  }

  /* Dropdown */
  .dropdown {
    background-color: $dark-bg-300;
    box-shadow: none;

    &::before {
      border-color: transparent transparent $dark-bg-300;
    }

    a {
      border-bottom-color: #2C2C42;
      color: #D6D7E3;
    }

    &-btn {
      color: $label;
    }
  }

  .notification-dropdown {
    &__title {
      color: #D6D7E3;
    }
  }

  /* Main Title */
  .main-title {
    color: #EFF0F6;
    ;
  }

  /* Dashboard */
  .stat-cards-item {
    background-color: $dark-bg-100;
    box-shadow: none;
  }

  .stat-cards-info__num {
    color: #EFF0F6;
  }

  /* Chart */
  .chart {
    box-shadow: none;
  }

  #myChart {
    background-color: $dark-bg-100;
    box-shadow: none;
  }

  /* Sort bar */
  .sort-bar {
    background-color: $dark-bg-200;
  }

  /* Table */
  .users-table {
    color: #EFF0F6;

    &-info {
      border-bottom-color: transparent;
      color: #EFF0F6;
    }

    thead {
      background-color: $dark-bg-200;
    }

    td {
      background-color: $dark-bg-100;
      border-color: transparent;
    }

    tbody tr {
      &:last-child .users-item-dropdown::before {
        border-color: $dark-bg-300 transparent transparent;
      }
    }

    &.active td {
      background-color: #2C2C42;
    }
  }

  .sort-btn {
    color: $placeholder;
  }

  /* Users */
  .users-item {
    background-color: $dark-bg-200;
    border-radius: 10px;
    overflow: hidden;

    &-body {
      background-color: $dark-bg-200;
    }

    &__name {
      color: #EFF0F6;
    }

    &__desc,
    &__role {
      color: #D6D7E3;
    }

    .primary-white-btn {
      border: none !important;
    }
  }

  /* Form */
  .form {
    background-color: $dark-bg-200;

    &-label {
      color: #D6D7E3;
    }

    &-input {
      background-color: $dark-bg-100;
      color: #D6D7E3;
    }
  }

  /* Sign up */
  .sign-up {
    &__title {
      color: #EFF0F6;
    }

    &__subtitle {
      color: #D6D7E3;
    }
  }

  /* Error page */
  .error-page-title {
    color: #EFF0F6;
  }

  /* Select */
  .select {
    background-color: $dark-bg-200;
    border-color: $dark-bg-100 !important;
  }

  /* Textarea */
  textarea {
    background-color: #363648;
    color: #d6d7e3;
  }

  /* Tag container */
  .tag-container {
    background-color: #363648;

    input {
      background-color: #363648;
      color: #d6d7e3;
    }
  }

  .tag {
    background-color: $dark-bg-100;
    border-color: #363648;

    &-btn {
      border-color: #363648;
      background-color: $dark-bg-100;
    }
  }

  /* Folder block */
  .folder {
    &-block {
      background-color: $dark-bg-200 !important;

      &-title {
        h3 {
          color: #EFF0F6
        }
      }

      h3 {
        color: #EFF0F6;
      }
    }

    &-info__name {
      color: #EFF0F6;
    }

    &-btn {
      background-color: $dark-bg-100;
    }
  }

  .main-files {
    background-color: $dark-bg-200 !important;
  }

  .files-item {
    border-color: $dark-bg-100;
    background-color: $dark-bg-100;
  }

  /* Media */
  .media {
    &-sidebar {
      &__title {
        color: #EFF0F6;
      }
    }

    &-content {
      background-color: $dark-bg-200;
    }

    &-dropzone {
      background-color: $dark-bg-100;
    }
  }

  .quick-links {
    a.info {
      background-color: rgba(88, 135, 255, 0.08);
    }

    a.success {
      background-color: rgba(75, 222, 151, 0.08);
    }

    a.primary {
      background-color: rgba(47, 73, 209, 0.08);
    }

    a.warning {
      background-color: rgba(255, 182, 72, 0.08);
    }

    a.danger {
      background-color: rgba(242, 100, 100, 0.08);
    }
  }

  .storage {
    &__indicator {
      background-color: $success-color;
    }

    &__title {
      color: #EFF0F6;
    }
  }

  .upgrade {
    p {
      color: #FFFFFF;
    }

    &-btn {
      color: $blue-bg;
    }
  }

  .view-sort-btn {
    background-color: $dark-bg-100;
  }

  /* Dropzone */
  .dropzone-wrapper {
    background-color: $dark-bg-100;
  }

  .dz-preview {
    background-color: $dark-bg-100;
  }

  /* New page  */
  .new-page {
    &-content {
      input {
        background-color: #363648;
        color: #d6d7e3;
      }

      .ql-toolbar {
        background-color: #363648;
        color: #d6d7e3;
      }
    }
  }

  .content-textarea {
    .ql-editor {
      background-color: #363648;
      color: #d6d7e3;
    }
  }

  /* White block */
  .white-block {
    background-color: $dark-bg-100;
    color: #D6D7E3;

    &__title {
      color: #D6D7E3;
    }

    .radio {
      background-color: #37374B;
      ;
    }
  }

  .main-content {
    background-color: $dark-bg-200;
  }

  .top-cat-list a {
    border-color: #37374F;
  }

  .top-cat-title h3 {
    color: #EFF0F6;
  }

  .top-cat-list__title {
    color: #EFF0F6;
  }

  /* Pagination */
  .pagination a {
    opacity: .5;
    color: #FFFFFF;

    &.active {
      opacity: 1;
    }
  }

  /* Appearance */
  .appearance-sidebar {
    background-color: $dark-bg-100;

    .draggable {
      background-color: $dark-bg-100;
    }

    h3,
    p {
      color: #D6D7E3;
    }
  }

  .drag-top-navbar {
    background-color: #1E1E2E;

    .draggable {
      &.clipped {
        border: 1px dashed #161624;

        .draggable__title {
          box-shadow: none;
          background-color: #39394E;
        }
      }
    }
  }

  .menus__row {
    .drag-zone {
      background-color: $dark-bg-100;
      border-color: transparent;
    }

    .draggable {
      border: 1px dashed #161624;
    }
  }

  /* QL editor  */
  .ql-editor {
    color: #fff;

    &.ql-blank::before {
      color: #D6D7E3;
    }
  }

  /* Badges */
  .badge-disabled {
    background-color: rgba(255, 182, 72, 0.1);
    color: $warning-color;
  }

  /* Extentions */
  .extentions-item {
    background-color: $dark-bg-100;

    h3 {
      color: #EFF0F6;
    }

    p {
      color: #D6D7E3;
    }

    &__img {
      background: rgba(255, 255, 255, 0.1);
      border: 1px solid #3A3A52;
    }

    &-footer {
      border-color: #3A3A52;
    }
  }

  .extentions-btn {
    border: 1px solid #3A3A52 !important;

    &:focus {
      border-color: #3A3A52 !important;
    }
  }

  /* Tabs */
  .tab-form {
    input {
      background-color: $dark-bg-100;
      color: #EFF0F6;
    }

    &__label {
      color: #EFF0F6;
    }
  }

  .drag__title {

    h3,
    p {
      color: #D6D7E3;
    }
  }

  .tab-menu a {
    color: #EFF0F6;

    &.active {
      color: $default-color;
    }
  }

  /* Buttons */
  .primary-white-btn {
    border: 1px solid #222235 !important;
    background-color: $dark-bg-200;
  }

  /* Footer */
  .footer {
    border-top-color: #222235;
    ;
  }

  .menu-toggle--gray {
    background-image: url(../img/svg/Bulk/Menu-toggle-white.svg);
  }
}

.moon-icon {
  display: none;
}