.drag {
  &__title {
    h3 {
      font-weight: 500;
      font-size: 16px;
      line-height: 1.5;
      color: $body;
    }

    p {
      font-size: 12px;
      line-height: 2;
      color: $body;
      margin-bottom: 10px;
    }

    &--margin {
      margin-bottom: 20px;
    }
  }
}

.draggable {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 10px;
  border: 1px dashed #DBDEF8;
  box-sizing: border-box;
  border-radius: 6px;
  color: $label;
  cursor: move;
  user-select: none;
  touch-action: none;
  width: 300px;
  z-index: 1;
  margin-bottom: 10px;

  &--active {
    opacity: 0.5;
  }

  &.clipped {
    width: auto;
    padding: 5px;

    .draggable__title {
      background-color: #fff;
      padding: 8px 28px;
      box-shadow: 0px 15px 10px -10px rgba(160, 163, 189, 0.1);
      border-radius: 3px;
    }

    .draggable__subtitle,
    .icon {
      display: none;
    }
  }

  &__row {
    padding-left: 10px;
    display: flex;
    flex-wrap: wrap;
    min-width: 300px;
    min-height: 52px;

    .draggable {
      margin-right: 10px;
    }
  }

  &__title {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.2;
  }

  &__subtitle {
    font-weight: normal;
    font-size: 12px;
    line-height: 1.2;
  }
}

.appearance-sidebar {
  background-color: $input-bg;
  border-radius: 10px;
  padding: 20px;
  margin-bottom: 15px;

  &-title {
    padding-bottom: 5px;
    color: $body;

    &.active {
      border-bottom: 1px solid #E1E1E7;
      margin-bottom: 25px;
    }

    h3 {
      font-weight: 500;
      font-size: 16px;
      line-height: 1.5;
      color: $body;
    }

    p {
      font-size: 12px;
      line-height: 2;
    }
  }

  .draggable {
    background-color: #fff;
    width: 100%;

    .icon {
      color: red;
    }
  }
}

.drag-top-navbar {
  display: flex;
  flex-wrap: wrap;
  border-radius: 10px;
  background-color: $input-bg;
  padding: 10px 13px;
  margin-bottom: 20px;

  .drag__title {
    width: 100%;
  }

  .draggable {
    margin-right: 10px;
  }
}

.menus__row {
  display: flex;
  flex-wrap: wrap;
  min-width: 300px;
  min-height: 52px;
  margin-left: 0;
  margin-right: 0;

  .drag-zone {
    border: 1px solid #EEEEEE;
    border-radius: 10px;
    padding: 10px 13px;
  }

  .draggable {
    margin-bottom: 10px;
    width: 100%;
  }
}