.dropzone {
  &-wrapper {
    position: relative;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 150px;
    background-color: #FFFFFF;
    border: 1px dashed #A0A3BD;
    border-radius: 10px;
    overflow-y: auto;
  }

  &-start {
    position: absolute;
    text-align: center;
  }

  .thumbnail {
    margin-bottom: 10px;
  }

  &-hint {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.22;
    letter-spacing: 0.75px;
    color: $placeholder;
  }
}

.dz-error-message,
.dz-success-mark,
.dz-error-mark {
  display: none;
}

.dz-preview {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #fff;
  width: 90%;
  height: 90%;
  z-index: 1;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.22;
  letter-spacing: 0.75px;
  color: $placeholder;
  text-align: center;
  padding-bottom: 20px;

  img {
    width: 60px;
    height: 60px;
  }
}

.media-dropzone {
  padding: 17px 20px;
  border-radius: 10px;
  background-color: $input-bg;
  text-align: center;

  &__title {
    margin-bottom: 10px;
  }

  &__subtitle {
    font-size: 12px;
    line-height: 1.22;
    color: $body;
    margin-bottom: 51px;
  }

  .dropzone-wrapper {
    background-color: transparent;
  }
}