.error-page {

  &-title {
    font-weight: 700;
    margin-bottom: 20px;
  }

  &-subtitle {
    margin-bottom: 30px;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.21;
    color: #767676;
  }

  picture {
    display: flex;
  }

  img {
    max-width: 90%;
    text-align: center;
    margin: 0 auto 89px;
  }
}