h1,
h2,
h3 {
  letter-spacing: 1px;
  color: $title-active;
}

.h-1 {
  font-size: 64px;
  line-height: 1.03;
}

.h-2 {
  font-size: 48px;
  line-height: 1.04;
}

.h-3 {
  font-size: 32px;
  line-height: 1.06;
}

.main-title {
  font-weight: bold;
  font-size: 24px;
  line-height: 1.42;
  color: #171717;
  margin-bottom: 20px;

  @include block_480 {
    font-size: 20px;
  }
}