/* Basic config for all custom icons: */
.icon {
  display: inline-block;
  background-repeat: no-repeat;
  background-position: center center;
}

.logo {
  background-image: url(../img/svg/Logo.svg);
  width: 49px;
  height: 49px;
}

.menu-toggle {
  background-image: url(../img/svg/Bulk/Menu-toggle-white.svg);
  width: 24px;
  height: 24px;
}

.home {
  background-image: url(../img/svg/Bulk/Home-white.svg);
  width: 24px;
  height: 24px;
}

.document {
  background-image: url(../img/svg/Bulk/Document-white.svg);
  width: 24px;
  height: 24px;
}

.folder {
  background-image: url(../img/svg/Bulk/Folder-white.svg);
  width: 24px;
  height: 24px;
}

.arrow-down {
  background-image: url(../img/svg/Bulk/Arrow-DownCircle.svg);
  width: 24px;
  height: 24px;
}

.image {
  background-image: url(../img/svg/Bulk/Image-white.svg);
  width: 24px;
  height: 24px;
}

.paper {
  width: 24px;
  height: 24px;
  background-image: url(../img/svg/Bulk/Paper-white.svg);
}

.message {
  background-image: url(../img/svg/Bulk/Message-white.svg);
  width: 24px;
  height: 24px;
}

.edit {
  background-image: url(../img/svg/Bulk/Edit-white.svg);
  width: 24px;
  height: 24px;
}

.category {
  background-image: url(../img/svg/Bulk/Category-white.svg);
  width: 24px;
  height: 24px;
}

.user-3 {
  background-image: url(../img/svg/Bulk/3-User-white.svg);
  width: 24px;
  height: 24px;
}

.setting {
  background-image: url(../img/svg/Bulk/Setting-white.svg);
  width: 24px;
  height: 24px;
}

.avatar {
  background-image: url(../img/svg/Bulk/Avatar.svg);
  width: 56px;
  height: 56px;
}