.main {
  padding-top: 20px;
  padding-bottom: 20px;
  margin-bottom: 60px;

  @include block_575 {
    margin-bottom: 0;
  }

  &-content {
    background-color: #fff;
    border-radius: 10px;
    padding: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    min-height: 65vh;

    .empty-text {
      font-size: 14px;
      line-height: 2.43;
      font-weight: 500;
      color: $body;
    }
  }

  &-title-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 34px;

    h2 {
      margin-bottom: 0;
    }

    .primary-default-btn {
      svg {
        margin-right: 9px;
      }
    }
  }

  &-btns-wrapper {
    display: flex;
    align-items: center;
    flex-wrap: wrap;

    button {
      margin-right: 10px;

      &:last-child {
        margin-right: 0;
      }
    }
  }
}