.media-main {
  .pagination-wrapper {
    justify-content: flex-start;
  }

  .pagination-next,
  .pagination-prev {
    border-radius: 50%;
  }

  .col-xl-2,
  .col-lg-3,
  .col-lg-9 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .col-xl-2 {
    @media (min-width: 1200px) {
      flex: 0 0 20%;
      max-width: 20%;
    }

    margin-bottom: 20px;
  }
}

.folder-block {
  color: #000000;

  &-title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;

    h3 {
      font-weight: 500;
      font-size: 16px;
      line-height: 1.4;
    }
  }
}

.folder-list {
  li {
    padding-top: 6px;
    padding-bottom: 6px;
    border-bottom: 1px solid #EEEEEE;

    &:first-child {
      padding-top: 0;
    }

    &:last-child {
      border-bottom-width: 0;
    }
  }

  a {
    display: flex;
    align-items: center;
    padding: 10px;
    border-radius: 6px;

    &:hover,
    &.active {
      background-color: rgba(47, 73, 209, 0.1);
    }
  }

  svg {
    margin-right: 7px;
  }
}

.folder-info {
  display: flex;
  flex-direction: column;

  &__name {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.4;
    color: $title-active;
  }

  &__details {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.4;
    color: $label;
  }
}

.files-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: #FFFFFF;
  border: 1px solid #EEEEEE;
  border-radius: 10px;

  &__img {
    width: 45px;
    height: 45px;
    display: flex;
    border-radius: 3px;
    margin-bottom: 15px;

    &.purple {
      background-color: $purple-bg;
    }

    &.success {
      background-color: $success-color;
    }

    &.warning {
      background-color: $warning-color;
    }

    &.danger {
      background-color: $danger-color;
    }

    svg {
      margin: auto;
    }
  }

  &__title {
    font-size: 14px;
    line-height: 1.22;
    text-align: center;
    color: $body;
  }

  &__size {
    font-size: 12px;
    line-height: 1.22;
    color: $label;
  }

  .dropdown-btn {
    transform: rotate(90deg);
    top: 10px;
    right: 20px;
    color: #B9B9B9;
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;

    svg {
      width: 20px;
      height: 20px;
    }
  }

  .users-item-dropdown {
    right: 10px;
    top: 45px;
  }
}

/* Media-01 page */
.media-content {
  background: #FFFFFF;
  padding: 20px;
  border-radius: 10px;
}

.media-sidebar {
  padding-right: 20px;
  border-right: 2px solid #EEEEEE;

  &__title {
    font-size: 18px;
  }

  a {
    &:focus {
      outline: none;
    }
  }

  &__title {
    margin-bottom: 18px;
  }
}

.quick-links {
  margin-bottom: 40px;

  &-text {
    display: flex;
    flex-direction: column;

  }

  &__title {
    font-weight: 500;
    font-size: 16px;
    margin-bottom: 2px;
  }

  &__subtitle {
    font-size: 12px;
    opacity: 0.5;
  }

  &-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 36px;
    height: 36px;
    border-radius: 50%;
    margin-right: 10px;
  }

  a {
    display: flex;
    align-items: center;
    padding: 12px 10px;
    border-radius: 10px;
    margin-bottom: 15px;

    &:hover {
      background-color: rgba(88, 135, 255, 0.08);
    }

    &.info {
      color: $info-color;

      .quick-links-icon {
        background-color: $info-color;
      }
    }

    &.success {
      color: $success-color;

      .quick-links-icon {
        background-color: $success-color;
      }
    }

    &.primary {
      color: $primary-color;

      .quick-links-icon {
        background-color: $primary-color;
      }
    }

    &.warning {
      color: $warning-color;

      .quick-links-icon {
        background-color: $warning-color;
      }
    }

    &.danger {
      color: $danger-color;

      .quick-links-icon {
        background-color: $danger-color;
      }
    }
  }
}