body {
  background-color: $input-bg;
}

.page-flex {
  display: flex;
}

.main-wrapper {
  position: relative;
  flex-grow: 1;
}

.footer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}