.pagination {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin-left: 16px;
  margin-right: 16px;

  &-wrapper {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-wrap: wrap;
    padding-top: 20px;

    @include block_480 {
      justify-content: center;
    }
  }

  &-prev,
  &-next {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 46px;
    height: 44px;
    /* Primary */
    background-color: $primary-color;
    border-radius: 4px;
    color: #fff;

    &:hover {
      background-color: $purple-bg;
      color: #fff;
    }

    &.disabled {
      background-color: rgba(47, 73, 209, 0.1);
    }
  }

  a {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 32px;
    height: 32px;

    @include block_480 {
      width: 23px;
      height: 23px;
    }
  }
}