.progress {
  background-color: #EFF0F6;
  border-radius: 10px;
  height: 4px;
  margin-bottom: 5px;

  &-bar {
    height: 100%;
    background-color: $success-color;
    border-radius: 10px;

    &.fill-25 {
      width: 25%;
    }
  }
}