.select {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 2px solid #EEEEEE !important;
  border-radius: 4px;
  width: max-content;
  padding: 10px 20px;
  color: $label;
  font-size: 16px;
  line-height: 1.5;
  background-color: #FFFFFF;
  cursor: pointer;

  @include custom-media(1400px) {
    font-size: 14px;
  }

  @include custom-media(1304px) {
    padding: 6px;
  }
}