.sign-up {
  &__title {
    font-size: 32px;
    line-height: 1.06;
    text-align: center;
    letter-spacing: 1px;
    color: $title-active;
    margin-bottom: 20px;
  }

  &__subtitle {
    max-width: 424px;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.2;
    text-align: center;
    color: $body;
    margin-bottom: 20px;
  }
}