.sort-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 20px 36px 20px 20px;
  background-color: #FFFFFF;
  box-shadow: 0px 1px 0px #DADBE4;
  border-radius: 10px 10px 0 0;

  .search-wrapper {
    position: relative;
    width: max-content;

    input {
      padding: 5px 42px 5px 16px;
    }

    svg {
      left: auto;
      right: 16px;
    }
  }

  .select {
    min-width: 185px;
    margin-right: 20px;

    &.small {
      min-width: 142px;
    }

    &-wrapper {

      &:last-child {
        .select {
          margin-right: 0;
        }
      }
    }
  }

  .filter-btn {
    min-width: 106px;
  }

  &-end {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
  }

  &.media-bar {
    padding-right: 0;
    padding-left: 0;

    .sort-bar-start {
      flex-grow: 2;
    }

    .search-wrapper {
      width: 90%;

      input {
        width: 100%;
      }
    }
  }
}