.tab-nav {}

.tab-menu {
  display: flex;
  align-items: center;
  flex-wrap: wrap;

  li {
    margin-right: 20px;

    &:last-child {
      margin-right: 0;
    }
  }

  a {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    color: rgba(17, 17, 17, 0.48);
    border-bottom: 2px solid transparent;
    padding-bottom: 14px;

    &:active,
    &:focus {
      color: $default-color;
      border-bottom-color: $default-color;
      outline-width: 0;
    }

    &.active {
      color: $default-color;
      border-bottom-color: $default-color;
    }
  }

}

.tab-content {
  padding-top: 40px;

  &:not(:target) {
    display: none;
  }
}

.tab-form {
  &__label {
    display: block;
    width: max-content;
    font-weight: 500;
    font-size: 14px;
    line-height: 2.43;
    color: #000000;
    cursor: pointer;
    margin-bottom: 10px;
  }

  input {
    width: 100%;
  }

  .select {
    width: 100%;
  }

  &-end {
    color: $label;

    img {
      width: 100%;
      object-fit: cover;
      border-radius: 6px;
      margin-bottom: 10px;
    }

    &__title {
      font-weight: 500;
      font-size: 18px;
      line-height: 1.33;
      margin-bottom: 10px;
    }

    table {
      font-weight: 500;
      font-size: 16px;
      line-height: 1.5;
      border-collapse: collapse;

      td {
        padding-bottom: 10px;
        padding-right: 23px;
      }
    }
  }
}